services:
  nginx:
    image: nginx:1.25-alpine
    container_name: nginx
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/nginx.conf:ro
      - ./frontend_build:/usr/share/nginx/html:ro
      - ./certs:/etc/letsencrypt:ro
      - ./backend/staticfiles:/staticfiles:ro
      - ./backend/media:/media:ro
    depends_on:
      - backend
    restart: unless-stopped

  backend:
    build: ./backend
    container_name: backend
    env_file:
      - ./.env
    environment:
      - REDIS_URL=redis://redis:6379/0
      - DJANGO_SETTINGS_MODULE=config.settings
    expose:
      - "8000"
    volumes:
      - ./backend/staticfiles:/app/staticfiles
      - ./backend/media:/app/media
      - ./backend/docker-entrypoint.sh:/app/docker-entrypoint.sh:ro
    depends_on:
      db:
        condition: service_healthy
      redis:
        condition: service_started
    restart: unless-stopped

  db:
    image: postgres:16
    container_name: db
    env_file:
      - ./.env
    environment:
      - TZ=Asia/Seoul
    volumes:
      - ./dbdata:/var/lib/postgresql/data
    expose:
      - "5432"             # 내부 컨테이너 간 통신용 (있어도 되고 없어도 됨)
    ports:
      - "127.0.0.1:5433:5432"   # ★ 호스트(EC2) 5433 -> 컨테이너 5432
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U $$POSTGRES_USER -d $$POSTGRES_DB || exit 1"]
      interval: 5s
      timeout: 3s
      retries: 20
    restart: unless-stopped

  redis:
    image: redis:7-alpine
    container_name: redis
    restart: unless-stopped
