# Base web stack
Django==5.0.6
djangorestframework==3.15.2
dj-database-url==2.2.0
psycopg2-binary==2.9.9
gunicorn==21.2.0
whitenoise==6.7.0
django-cors-headers==4.4.0

# Optional S3 media storage
django-storages[boto3]==1.14.3
